/*example 1:draggable */
.draggable{
	height: 500px;
	border: 2px solid;
}
#drag { 
	width: 150px;
	height: 150px;
	background-color: red;
}
/*example 2:sortable */
 #sortable { 
 	list-style-type: none;
 	margin: 0; 
 	padding: 0;
 	width: 60%;
 }
 #sortable li {
 	margin: 0 3px 3px 3px;
 	padding: 0.4em;
 	padding-left: 1.5em;
 	font-size: 1.4em; 
 	height: 65px; }
  
 #sortable li span {
  	position: absolute;
  	margin-left: -1.3em; 
  	margin-top: 13px;
}
/*example 6:select menu */
fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }

/*example 7:tooltip */
   .l1{
    display: inline-block;
    width: 5em;
  }
  
/*example 8:resizable */
  #resize {
   width: 150px;
   height: 150px; 
   padding: 0.5em; 
}
  #resize h3 { 
  	text-align: center; 
  	margin: 0;
}